body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.form-containerr {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
.alert-container {
    width: 100%;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 500px;
    width: 100%; 
}
.container p{
    text-align: center;
}
.form-container h2{
    margin-top: 0;
    text-align: center;
}

.form-container form {
    text-align: center;
}

.form-container input{
    width: calc(100% - 40px); /* Genişliği sınırla */
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: calc(100% - 40px); /* Genişliği sınırla */
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50; /* Yeşil */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049; /* Koyu yeşil */
}

